@charset "UTF-8";


@charset "utf-8";

// background
$c1: #EDECEC;

// header
$c2:#2196f3;

// sidebar
$c3: #fff;

// subnav
$c4: #F4F4F4;

// sidebar hover
$c5: #fff;

$border-color: #DBDBDB;

$layout_header_height: 55px;

$layout_header_brand_width: 210px;

$layout_wrapper_header_height: 95px;

