@charset "UTF-8";

@import "compass";

// layout header 高度
$layout_header_height: 55px;

// layout header logo 展示区域宽度
$layout_header_brand_width: 210px;

// layout 正文 header 高度
$layout_wrapper_header_height: 95px;