@charset "UTF-8";
@import "globals";

#app-user {
  // 用户表格头像
  img.avatar {
    border-radius: 3px;
    max-width: 25px;
    max-height: 25px;
  }
  > table {

    th {
      padding: 7px 10px;
      .icon {
        visibility: hidden;
      }
      &:hover {
        .icon {
          visibility: visible;

        }
      }
    }

    .col-check {
      width: 20px;
    }
    .col-avatar {
      width: 50px;
    }
    .col-username {

    }
    .col-email {

    }
    .col-role {
      width: 10%;
    }
    .col-status {

    }
    .col-date {

    }
  }
}
