<div id="app-qingjia" class="page container">

    <div class="ui secondary menu">
        <div class="page item title">
            假条
        </div>

        <div class="page options right menu">
            <div class="item">
                <i class="ui icon plus" ng-click="add()"></i>
            </div>
            <!--<div class="item">-->
            <!--<i class="ui icon ellipsis vertical"></i>-->
            <!--</div>-->
        </div>
    </div>

    <div class="">
        <table class="ui celled table">
            <thead>
            <tr>
                <th>日期</th>
                <th>事由</th>
                <th>状态</th>
                <th>创建时间</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="item in posts" class="{{ item.class }}">
                <td>{{ item.title }}</td>
                <td>{{ item.content }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.created_at }}</td>
            </tr>


            <!--<tr class="positive">-->
            <!--<td>吉米</td>-->
            <!--<td><i class="icon checkmark"></i> 证实的</td>-->
            <!--<td>None</td>-->
            <!--</tr>-->
            <!--<tr>-->
            <!--<td>杰米</td>-->
            <!--<td>未知</td>-->
            <!--<td class="positive"><i class="icon close"></i> Requires call</td>-->
            <!--</tr>-->
            <!--<tr class="negative">-->
            <!--<td>吉尔</td>-->
            <!--<td>未知</td>-->
            <!--<td>None</td>-->
            <!--</tr>-->
            </tbody>
        </table>
    </div>

    <div id="jiatiao-editor" class="view slide" style="display: none; width: 500px;">

        <div class="view title ui secondary menu">
            <div class="item">
                请假申请
            </div>

            <div class="right menu">
                <div class="item label">
                    <i class="icon checkmark" ng-click="submit()"></i>
                </div>
                <div class="item label">
                    <i class="icon share" ng-click="close()"></i>
                </div>
            </div>
        </div>

        <div class="view content">
            <div class="block">
                <form class="ui form">

                    <div class="field">
                        <label>请假时间</label>
                        <input type="text" name="last-name" placeholder="" ng-model="post.title">
                    </div>

                    <div class="field">
                        <label>请假事由</label>
                        <textarea ng-model="post.content" id="" cols="30" rows="10"></textarea>
                    </div>

                    <!--<button class="ui button" type="submit" ng-click="submit()">提交申请</button>-->
                </form>
            </div>
        </div>

    </div>

</div>

