<div id="app-role" class="page container">

    <div class="ui secondary menu">
        <div class="page item title">
            角色
        </div>

        <div class="page options right menu">
            <div class="item">
                <i class="ui icon plus" ng-click="openRoleEditor()"></i>
            </div>
            <div class="item">
                <i class="ui icon ellipsis vertical"></i>
            </div>
        </div>
    </div>

    <div class="ui grid">
        <div class="sixteen wide column">
            <table class="ui striped table click">
                <thead>
                <tr>
                    <th>角色</th>
                    <th>权限数</th>
                    <th>用户数</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="role in roles" role-id="{{ role.id }}">
                    <td>{{ role.name }}</td>
                    <td>{{ role.permission_amount }}</td>
                    <td>{{ role.user_amount }}</td>
                    <td>{{ role.status }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
