#directive-user-detail {
  width: 560px;
  box-shadow: 10px 10px 7px 8px #333;
}
#directive-user-detail .block {
  height: 100%;
  padding: 0;
}
#directive-user-detail .definition.table {
  border-style: none none solid none;
  border-radius: 0;
}
#directive-user-detail .definition.table td {
  text-align: center;
}
#directive-user-detail .definition.table td:first-child {
  width: 100px;
  text-align: center;
}
#directive-user-detail .definition.table .avatar {
  max-width: 100px;
  border-radius: 10px;
}
