@import "../components/colors";

#medias{
    padding-top: 52px;
    .menu{
        border-radius: 0;
    }
    .layout.header{
        background-color: #fafafa;
        height: 52px;
    }
}

#medias-folders{
    .card{
        height: 35px !important;
        background: #fafafa !important;
        line-height: 35px;
        overflow: hidden;
        div.icon{
            position: absolute;
            font-size: 18px;
            width: 45px;
            text-align: center;
            border-radius: 0 !important;
            color:#8F8F8F;
            border-radius: 5px;
        }
        div.name{
            margin-left: 45px;
            border-radius: 0 !important;
            padding-left: 5px;
            font-size: 13px;
            background: #fff;
        }
    }
}

#medias-list{
    .card{
        width: 180px;
        height: 158px;
        background: none;
        div.image{
            height: 118px;
            overflow: hidden;
            img{
                position: absolute;
                // border-radius: 0;
                margin: auto;
                top:0;
                bottom: 0;
            }
        }
        .extra{
            background: #fafafa;
            font-size: 13px;
        }
    }
}
