@import "../components/colors";

#users {
    // 用户表格头像
    img.avatar{
        border-radius: 3px;
        max-width:25px;
        max-height: 25px;
    }
}

#users-count{
    padding: 3px 10px;
    border:1px solid rgba(219, 219, 219, 0);
    &:hover{
        border: 1px solid $border-color;
        background: #D4D4D5;
    }
}


#user-editor{
    width: 70%;
}
