<div id="user-editor" class="editor slide">

  <div class="ui secondary menu">
    <div class="item">
      编辑用户
    </div>

    <div class="right menu">
      <div class="item label">
        <i class="icon checkmark"></i>
      </div>
      <div class="item label">
        <i class="icon share" ng-click="closePostEditor()"></i>
      </div>
    </div>
  </div>

  <div class="ui card">
    <div class="content block">
      <div class="ui form">
        <div class="field">
          <label>用户名</label>
          <input type="text" placeholder="">
        </div>
        <div class="field">
          <label>初始密码</label>
          <input type="password" placeholder="">
        </div>
        <div class="field">
          <label>邮箱</label>
          <input type="text" placeholder="">
        </div>
        <div class="field">
          <label>电话</label>
          <input type="text" placeholder="">
        </div>
        <div class="field">
          <label>角色名</label>
          <select id='pre-selected-options'>
            <option value='elem_1' selected>elem 1</option>
            <option value='elem_2'>elem 2</option>
            <option value='elem_3'>elem 3</option>
            <option value='elem_4'>elem 4</option>
            <option value='elem_5'>elem 5</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
