html, body {
  height: 100%;
}

.app.layout {
  height: 100%;
  overflow: hidden;
}
.app.layout.header {
  position: fixed;
  z-index: 999999;
  height: 55px;
  width: 100%;
  top: 0;
  left: 0;
}
.app.layout.header .brand {
  width: 210px;
}
.app.layout.container {
  height: 100%;
}
.app.layout.placeholder {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 55px;
  padding-left: 210px;
  overflow: hidden;
}
.app.layout.view {
  position: relative;
  background: #edecec;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.app.layout.wrapper {
  position: relative;
  height: 100%;
  padding-top: 95px;
}
.app.layout.content {
  height: 100%;
  overflow-y: scroll;
  padding: 20px 30px;
}
.app.layout.content .item.title {
  font-size: 21px;
  margin-left: -1px;
}
.app.layout.sidebar {
  position: fixed;
  top: 0;
  padding-top: 55px;
  width: 210px;
  height: 100%;
  z-index: 999998;
  overflow: scroll;
}
.app.layout.sidebar .menu {
  width: 210px;
  height: 100%;
  padding: 0;
  border-radius: 0;
  border-top: none;
}
.app.layout.sidebar .menu .item {
  background: none;
  list-style: none;
  padding: 0;
}
.app.layout.sidebar .menu .item:before {
  height: 0 !important;
}
.app.layout.sidebar .menu .item > a {
  color: #333;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
}
.app.layout.sidebar .menu .item > a:hover {
  background: #F4F4F4;
}
.app.layout.sidebar .menu .item i.icon {
  margin-right: 5px;
}
.app.layout.sidebar .menu .item.active > a {
  background: #F4F4F4;
}
.app.layout.sidebar .menu .item.active span:after {
  content: '\25cc';
}
.app.layout.sidebar .menu .item span {
  position: absolute;
  right: 25px;
}
.app.layout.sidebar .menu .item span:after {
  content: '\25be';
  font-size: 18px;
}
.app.layout.sidebar .menu .item ul {
  padding: 0;
}
.app.layout.sidebar .menu .item ul .item {
  padding: 0;
}
.app.layout.sidebar .menu .item ul .item a {
  height: 30px;
  line-height: 30px;
  padding-left: 50px;
  background: #fff;
}
.app.layout.sidebar .menu .item ul .item.active a {
  background: #F4F4F4;
}

.app .items {
  margin-top: 0;
  margin-bottom: 15px;
}
.app .items .item {
  position: relative;
  background: #fff;
  margin: 0;
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
  transition: background 0.2s;
  font-size: 13px;
  color: #9CACC3;
}
.app .items .item a {
  color: #9CACC3;
}
.app .items .item:hover {
  background: #e7edf3;
}
.app .items .item .image img {
  border-radius: 5px;
}
.app .items .item div.float {
  position: absolute;
  top: 15px;
  right: 20px;
  text-align: right;
}
.app .items .item div.float a {
  margin-left: 15px;
}
.app .items .item div.float .post-status {
  display: inline-block;
  text-align: center;
  background: #5AC169;
  padding: 2px 8px;
  border-radius: 5px;
  color: #fff;
}
.app .items .item .header {
  font-size: 15px;
}

.editor {
  background: #fafafa;
  height: 100%;
}
.editor > .menu {
  position: absolute;
  width: 100%;
  margin-bottom: 0;
  border-bottom: 1px solid #DBDBDB !important;
  z-index: 999997;
  margin-left: 0 !important;
}
.editor > .menu .item.label {
  width: 35px;
  margin: 0;
  padding: 0;
}
.editor > .menu .item.label:last-child {
  margin-right: 10px;
}
.editor > .menu .item.label i {
  display: block;
  margin: 0 !important;
  border-radius: 20px;
  width: 28px;
  height: 28px;
  line-height: 28px;
}
.editor > .menu .item.label i:hover {
  background: #E6E6E6;
}
.editor > .card {
  width: 100%;
  height: 100%;
  background: none;
  border-radius: 0;
  margin-top: 0;
  padding-top: 40px;
}
.editor > .card > .block {
  height: 100%;
  overflow-y: scroll;
}

.slide {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 500px;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999;
  margin-left: 0;
  -moz-animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  -moz-animation-iteration-count: slideInRight;
  -webkit-animation-iteration-count: slideInRight;
  animation-iteration-count: slideInRight;
}
