html, body {
  height: 100%;
}

.app.layout {
  height: 100%;
  overflow: hidden;
}
.app.layout.header {
  position: fixed;
  z-index: 999999;
  height: 55px;
  width: 100%;
  top: 0;
  left: 0;
}
.app.layout.header .brand {
  width: 210px;
}
.app.layout.container {
  height: 100%;
}
.app.layout.placeholder {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 55px;
  padding-left: 210px;
  overflow: hidden;
}
.app.layout.view {
  position: relative;
  background: #edecec;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.app.layout.wrapper {
  position: relative;
  height: 100%;
  padding-top: 95px;
}
.app.layout.content {
  height: 100%;
  overflow-y: scroll;
  padding: 20px 30px;
}
.app.layout.content .item.title {
  font-size: 21px;
  margin-left: -1px;
}
.app.layout.sidebar {
  position: fixed;
  top: 0;
  padding-top: 55px;
  width: 210px;
  height: 100%;
  z-index: 999998;
  overflow: scroll;
}
.app.layout.sidebar .menu {
  width: 210px;
  height: 100%;
  padding: 0;
  border-radius: 0;
  border-top: none;
}
.app.layout.sidebar .menu .item {
  background: none;
  list-style: none;
  padding: 0;
}
.app.layout.sidebar .menu .item:before {
  height: 0 !important;
}
.app.layout.sidebar .menu .item > a {
  color: #333;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
}
.app.layout.sidebar .menu .item > a:hover {
  background: #F4F4F4;
}
.app.layout.sidebar .menu .item i.icon {
  margin-right: 5px;
}
.app.layout.sidebar .menu .item.active > a {
  background: #F4F4F4;
}
.app.layout.sidebar .menu .item.active span:after {
  content: '\25cc';
}
.app.layout.sidebar .menu .item span {
  position: absolute;
  right: 25px;
}
.app.layout.sidebar .menu .item span:after {
  content: '\25be';
  font-size: 18px;
}
.app.layout.sidebar .menu .item ul {
  padding: 0;
}
.app.layout.sidebar .menu .item ul .item {
  padding: 0;
}
.app.layout.sidebar .menu .item ul .item a {
  height: 30px;
  line-height: 30px;
  padding-left: 50px;
  background: #fff;
}
.app.layout.sidebar .menu .item ul .item.active a {
  background: #F4F4F4;
}

#role-editor {
  width: 50%;
}
#role-editor .content.block {
  padding: 20px 40px;
}
#role-editor .ms-container {
  width: 100%;
}
#role-editor .ms-container .ms-list {
  min-height: 300px !important;
  height: auto !important;
}
#role-editor li.ms-optgroup-label {
  color: #131313 !important;
}
#role-editor li.ms-elem-selectable {
  color: #9A9A9A !important;
}
