
#directive-role-detail {
  width: 800px;
  box-shadow: 10px 10px 7px 8px #333;
  .block {
    height: 100%;
    padding: 0;
  }

  .definition.table {
    border-style: solid none solid none;
    &:first-child {
      border-top: none;
    }
    border-radius: 0;
    td:first-child {
      width: 150px;
      text-align: left;
    }
  }

  .permissions.wrap {
    padding: 0;
  }

  .permissions.table {
    border-radius: 0;
    border: none;
    th:first-child {
      pointer-events: none;
      background: #F9FAFB;
      font-weight: 400;
      box-shadow: none;
      color: #212121;
    }
    td:first-child {
      background: none;
    }
  }

  #no-permissions {
    text-align: center;
  }

}