
#directive-user-detail {
  width: 560px;
  box-shadow: 10px 10px 7px 8px #333;

  .block {
    height: 100%;
    padding: 0;
  }

  .definition.table {
    border-style: none none solid none;
    border-radius: 0;
    td{
      text-align: center;
    }

    td:first-child {
      width: 100px;
      text-align: center;
    }

    .avatar{
      max-width: 100px;
      border-radius: 10px;
    }

  }
}