<div id="app-config-email" class="page container">

    <!-- title -->
    <div class="ui secondary layout menu">
        <div class="page item title">
            邮箱设置
        </div>
        <div class="page options right menu">
            <div class="item handle">
                <i class="ui icon ellipsis vertical"></i>
            </div>
        </div>
    </div>

    <!-- 表单 -->
    <form action="" class="ui form config">
        <table>
            <tr>
                <td>主机</td>
                <td>
                    <input type="text" placeholder="">
                </td>
            </tr>
            <tr>
                <td>端口</td>
                <td>
                    <input type="text" placeholder="">
                </td>
            </tr>
            <tr>
                <td>账户</td>
                <td>
                    <input type="text" placeholder="">
                </td>
            </tr>
            <tr>
                <td>密码</td>
                <td>
                    <input type="password" placeholder="">
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <div class="ui submit button save">保存</div>
                </td>
            </tr>
        </table>
    </form>


</div>
