@charset "UTF-8";

@import "compass";
@import "../globals";

.view {
  &.slide {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
    margin-left: 0;
    position: absolute;
    background: #fff;
    @include animation-duration(0.3s);
    @include animation-delay(0.1s);
    @include animation-iteration-count(slideInRight);
  }

  &.title {
    position: absolute;
    width: 100%;
    margin-bottom: 0;
    border-bottom: 1px solid $border-color !important;
    z-index: 999997;
    margin-left: 0 !important;
    height: 45px;
    margin-right: 0;

    .item.label {
      width: 35px;
      margin: 0;
      padding: 0;

      &:last-child {
        margin-right: 10px;
      }

      i {
        display: block;
        margin: 0 !important;
        border-radius: 20px;
        width: 28px;
        height: 28px;
        line-height: 28px;
        &:hover {
          background: #E6E6E6;
        }
      }

    }

  }

  &.content {
    width: 100%;
    height: 100%;
    background: none;
    border-radius: 0;
    margin-top: 0;
    padding-top: 45px;

    .block {
      overflow-y: scroll;
      height: 100%;
      padding: 20px;
    }

  }

}

