#directive-role-detail {
  width: 800px;
  box-shadow: 10px 10px 7px 8px #333;
}
#directive-role-detail .block {
  height: 100%;
  padding: 0;
}
#directive-role-detail .definition.table {
  border-style: solid none solid none;
  border-radius: 0;
}
#directive-role-detail .definition.table:first-child {
  border-top: none;
}
#directive-role-detail .definition.table td:first-child {
  width: 150px;
  text-align: left;
}
#directive-role-detail .permissions.wrap {
  padding: 0;
}
#directive-role-detail .permissions.table {
  border-radius: 0;
  border: none;
}
#directive-role-detail .permissions.table th:first-child {
  pointer-events: none;
  background: #F9FAFB;
  font-weight: 400;
  box-shadow: none;
  color: #212121;
}
#directive-role-detail .permissions.table td:first-child {
  background: none;
}
#directive-role-detail #no-permissions {
  text-align: center;
}
