#app-post #posts .item {
  padding: 20px 15px;
  background: #fff;
  border-radius: 10px;
}
#app-post #posts .item:hover {
  background: #e7edf3;
}
#app-post #posts .item .attaches {
  position: absolute;
  right: 50px;
}
#app-post #posts .item .attaches a {
  margin-left: 10px;
}
