#app-qingjia th .icon {
  visibility: hidden;
}
#app-qingjia th:hover .icon {
  visibility: visible;
}
#app-qingjia .col-name {
  width: 10%;
}
#app-qingjia .col-permission-amount {
  text-align: center;
}
#app-qingjia .col-status {
  text-align: center;
}
#app-qingjia .col-updated_at {
  text-align: center;
  width: 100px;
}
#app-qingjia .col-description {
  width: 45%;
  padding-left: 100px;
}
