#medias {
  padding-top: 52px;
}
#medias .menu {
  border-radius: 0;
}
#medias .layout.header {
  background-color: #fafafa;
  height: 52px;
}

#medias-folders .card {
  height: 35px !important;
  background: #fafafa !important;
  line-height: 35px;
  overflow: hidden;
}
#medias-folders .card div.icon {
  position: absolute;
  font-size: 18px;
  width: 45px;
  text-align: center;
  border-radius: 0 !important;
  color: #8F8F8F;
  border-radius: 5px;
}
#medias-folders .card div.name {
  margin-left: 45px;
  border-radius: 0 !important;
  padding-left: 5px;
  font-size: 13px;
  background: #fff;
}

#medias-list .card {
  width: 180px;
  height: 158px;
  background: none;
}
#medias-list .card div.image {
  height: 118px;
  overflow: hidden;
}
#medias-list .card div.image img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}
#medias-list .card .extra {
  background: #fafafa;
  font-size: 13px;
}
