html, body {
  height: 100%;
}

body > .wrapper {
  height: 100%;
}

#__bs_notify__ {
  font-size: 10px !important;
  width: 100px;
  height: 100px;
  position: fixed;
  color: #fff !important;
}

.pace .pace-progress {
  z-index: 9999999;
}

#eevee-layout {
  height: 100%;
  overflow: hidden;
}
#eevee-layout #eevee-header {
  position: fixed;
  z-index: 999999;
  height: 55px;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 0;
  border-style: solid none;
}
#eevee-layout #eevee-header .brand {
  width: 210px;
}
#eevee-layout #eevee-header .user.panel {
  width: 136px;
  z-index: 999999;
}
#eevee-layout #eevee-placeholder {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 55px;
  padding-left: 210px;
  overflow: hidden;
}
#eevee-layout #eevee-view {
  position: relative;
  background: #edecec;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#eevee-layout #eevee-sidebar {
  position: fixed;
  top: 0;
  padding-top: 55px;
  width: 210px;
  height: 100%;
  z-index: 999998;
}
#eevee-layout #eevee-sidebar .menu {
  width: 210px;
  height: 100%;
  padding: 0;
  border-radius: 0;
  border-top: none;
}
#eevee-layout #eevee-sidebar .menu .item {
  background: none;
  list-style: none;
  padding: 0;
}
#eevee-layout #eevee-sidebar .menu .item:before {
  height: 0 !important;
}
#eevee-layout #eevee-sidebar .menu .item > a {
  color: #333;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
}
#eevee-layout #eevee-sidebar .menu .item > a:hover {
  background: #F4F4F4;
}
#eevee-layout #eevee-sidebar .menu .item i.icon {
  margin-right: 5px;
}
#eevee-layout #eevee-sidebar .menu .item.active > a {
  background: #F4F4F4;
}
#eevee-layout #eevee-sidebar .menu .item.active span:after {
  content: '\25cc';
}
#eevee-layout #eevee-sidebar .menu .item span {
  position: absolute;
  right: 25px;
}
#eevee-layout #eevee-sidebar .menu .item span:after {
  content: '\25be';
  font-size: 18px;
}
#eevee-layout #eevee-sidebar .menu .item ul {
  padding: 0;
}
#eevee-layout #eevee-sidebar .menu .item ul .item {
  padding: 0;
}
#eevee-layout #eevee-sidebar .menu .item ul .item a {
  height: 30px;
  line-height: 30px;
  padding-left: 50px;
  background: #fff;
}
#eevee-layout #eevee-sidebar .menu .item ul .item.active a {
  background: #F4F4F4;
}

.page.container {
  height: 100%;
  padding: 30px 30px;
  overflow-y: scroll;
}

.page.title {
  font-size: 16px;
  font-weight: bold;
  padding-left: 0 !important;
}

.page.options .item {
  width: 28px;
  padding: 0 !important;
}
.page.options i {
  display: block !important;
  margin: 0 !important;
  border-radius: 20px !important;
  width: 28px !important;
  height: 28px !important;
  line-height: 28px;
  text-align: center;
}
.page.options i:hover {
  background: #DCDBDB;
}

.page.handles .more {
  font-size: 13px !important;
  padding: 10px;
}
.page.handles > .right {
  float: right;
}
.page.handles > .right > .paginations {
  float: left;
  display: block;
  line-height: 36px;
  margin-right: 10px;
}
.page.handles > .right > .paginations > span {
  padding: 3px 10px;
  font-size: 12px;
  cursor: pointer;
}
.page.handles > .right > .paginations > span:hover {
  background: #C3C3C3;
  border-radius: 15px;
}
.page.handles > .right > .paging {
  float: right;
  display: block;
}
.page.handles > .right > .paging .button {
  padding: 10px 10px;
}

.button.save {
  font-size: 13px;
}

.view.slide {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
  margin-left: 0;
  position: absolute;
  background: #fff;
  -moz-animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  -moz-animation-iteration-count: slideInRight;
  -webkit-animation-iteration-count: slideInRight;
  animation-iteration-count: slideInRight;
}
.view.title {
  position: absolute;
  width: 100%;
  margin-bottom: 0;
  border-bottom: 1px solid #DBDBDB !important;
  z-index: 999997;
  margin-left: 0 !important;
  height: 45px;
  margin-right: 0;
}
.view.title .item.label {
  width: 35px;
  margin: 0;
  padding: 0;
}
.view.title .item.label:last-child {
  margin-right: 10px;
}
.view.title .item.label i {
  display: block;
  margin: 0 !important;
  border-radius: 20px;
  width: 28px;
  height: 28px;
  line-height: 28px;
}
.view.title .item.label i:hover {
  background: #E6E6E6;
}
.view.content {
  width: 100%;
  height: 100%;
  background: none;
  border-radius: 0;
  margin-top: 0;
  padding-top: 45px;
}
.view.content .block {
  overflow-y: scroll;
  height: 100%;
  padding: 20px;
}
