<div class="examples-btns">

  <div class="btn-group">
    <button type="button" class="btn btn-danger">Action</button>
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-danger">Action</button>
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
  
  <section>
    <h4>按钮样式</h4>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-link">Link</button>
    <button type="button" class="btn btn-primary-outline">Primary</button>
    <button type="button" class="btn btn-secondary-outline">Secondary</button>
    <button type="button" class="btn btn-success-outline">Success</button>
    <button type="button" class="btn btn-warning-outline">Warning</button>
    <button type="button" class="btn btn-danger-outline">Danger</button>
  </section>
  <section>
    <h4>按钮大小</h4>
    <button type="button" class="btn btn-primary btn-sm">Primary Small Button</button>
    <button type="button" class="btn btn-primary btn-lg">Primary Large Button</button>
    <button type="button" class="btn btn-primary btn-sm btn-block">Primary Block Small Button</button>
    <button type="button" class="btn btn-primary btn-lg btn-block">Primary Block Large Button</button>
  </section>
  <section>
    <h4>按钮激活状态</h4>
    <a href="javascript:;" class="btn btn-primary btn-lg active" role="button">Primary link</a>
    <a href="javascript:;" class="btn btn-secondary btn-lg active" role="button">Link</a>
  </section>
  <section>
    <h4>按钮不可用状态</h4>
    <button type="button" class="btn btn-lg btn-primary" disabled>Primary button</button>
    <button type="button" class="btn btn-secondary btn-lg" disabled>Button</button>
    <a href="javascript:;" class="btn btn-primary btn-lg disabled" role="button">Primary link</a>
    <a href="javascript:;" class="btn btn-secondary btn-lg disabled" role="button">Link</a>
  </section>
</div>
