<!-- 头部 -->
<header class="header">
    <nav class="navbar">
        <a class="navbar-brand" href="#">Coupe Theme</a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a id="nav-shortcuts" class="nav-link" href="#"><i class="fa fa-th"></i></a>
            </li>
        </ul>
        <form class="form-inline navbar-form pull-right" style="float: right;">
            <input class="form-control" type="text" placeholder="Search">
            <button class="btn btn-success-outline" type="button">Search</button>
        </form>
    </nav>
</header>

<!-- 边栏导航 -->
<aside class="sidebar-wrapper">
    <section class="sidebar">
        <ul class="nav">
            <li class="nav-header">样式导航</li>
            <li class="nav-item"><a href="#">UI Elements</a>
                <ul>
                    <li class="nav-item"><a href="#/templates/panels">Panels</a></li>
                    <li class="nav-item"><a href="#/templates/icons">Icons</a></li>
                    <li class="nav-item"><a href="#/templates/buttons">Buttons</a></li>
                    <li class="nav-item"><a href="#">Sliders</a></li>
                    <li class="nav-item"><a href="#/templates/cards">Cards</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="#">Forms</a>
                <ul>
                    <li class="nav-item"><a href="#/templates/panels">General Elements</a></li>
                    <li class="nav-item"><a href="#">Advanced Elements</a></li>
                    <li class="nav-item"><a href="#/templates/buttons">Editors</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="#">Pages</a>
                <ul>
                    <li class="nav-item"><a href="#/login">login</a></li>
                    <li class="nav-item"><a href="#/regist">regist</a></li>
                    <li class="nav-item"><a href="#">logout</a></li>
                    <li class="nav-item"><a href="#/templates/buttons">lock</a></li>
                    <li class="nav-item"><a href="#">404</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="#">Medias</a>
                <ul>
                    <li class="nav-item"><a href="#/templates/buttons">photos</a></li>
                    <li class="nav-item"><a href="#/templates/panels">music</a></li>
                    <li class="nav-item"><a href="#/templates/videos">video</a></li>
                </ul>
            </li>
            <li class="nav-header">实例</li>
            <li class="nav-item"><a href="#"><i class="fa fa-files-o"></i>页面</a>
                <ul>
                    <li class="nav-item"><a href="#/templates/pages">所有页面</a></li>
                    <li class="nav-item"><a href="#/templates/pages/new">新建页面</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="#">多媒体</a>
                <ul>
                    <li class="nav-item"><a href="#/templates/buttons">媒体库</a></li>
                    <li class="nav-item"><a href="#/templates/panels">添加媒体</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
<script type="text/javascript">
    // 垂直导航栏
    $(document).ready(function() {
      $('.nav').navgoco({
        openClass: 'active',
        accordion: true
      });
    });

    // 导航栏滚动体
    $('.sidebar').slimScroll({
      height: '100%'
    });
</script>
