<header class="content-header">
  <a href="profile.html" class="option pull-right">Profile</a>
  <div class="content-header-title pull-left">
    Panels
    <a href="#">面板</a>
  </div>
</header>

<div class="content-block">
  <div class="card panel">
    <div class="card-header">
      相册
    </div>
    <div class="card-block">
      <h4 class="card-title">Special title treatment</h4>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>


  <div class="card panel text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-block">
      <h4 class="card-title">Special title treatment</h4>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
</div>
