<div id="directive-role-editor" class="view slide">

    <div class="view title ui secondary menu">
        <div class="item">
            编辑角色
        </div>

        <div class="right menu">
            <div class="item label">
                <i class="icon checkmark" ng-click="editRole()"></i>
            </div>
            <div class="item label">
                <i class="icon share" ng-click="closePostEditor()"></i>
            </div>
        </div>
    </div>

    <div class="view content">
        <div class="block">
            <div class="ui form">
                <div class="field">
                    <label>角色名</label>
                    <input type="text" placeholder="" ng-model="role.name">
                </div>
                <div class="field">
                    <label>标识符</label>
                    <input type="text" placeholder="" ng-model="role.id">
                </div>
                <div class="field">
                    <label>描述</label>
                    <textarea rows="2" cols="3" ng-model="role.description"></textarea>
                </div>
                <div class="field">
                    <label>分配权限</label>
                    <div class="ui middle aligned divided list">
                        <div class="item">
                            <div class="right floated content">
                                <div class="ui button">Add</div>
                            </div>
                            <div class="content">
                                Lena
                            </div>
                        </div>
                        <div class="item">
                            <div class="right floated content">
                                <div class="ui button">Add</div>
                            </div>
                            <div class="content">
                                Lindsay
                            </div>
                        </div>
                        <div class="item">
                            <div class="right floated content">
                                <div class="ui button">Add</div>
                            </div>
                            <div class="content">
                                Mark
                            </div>
                        </div>
                        <div class="item">
                            <div class="right floated content">
                                <div class="ui button">Add</div>
                            </div>
                            <div class="content">
                                Molly
                            </div>
                        </div>
                        <div class="item">
                            <div class="right floated content">
                                <div class="ui button">Add</div>
                            </div>
                            <div class="content">
                                Lena
                            </div>
                        </div>
                        <div class="item">
                            <div class="right floated content">
                                <div class="ui button">Add</div>
                            </div>
                            <div class="content">
                                Lindsay
                            </div>
                        </div>
                        <div class="item">
                            <div class="right floated content">
                                <div class="ui button">Add</div>
                            </div>
                            <div class="content">
                                Mark
                            </div>
                        </div>
                        <div class="item">
                            <div class="right floated content">
                                <div class="ui button">Add</div>
                            </div>
                            <div class="content">
                                Molly
                            </div>
                        </div>
                        <div class="item">
                            <div class="right floated content">
                                <div class="ui button">Add</div>
                            </div>
                            <div class="content">
                                Lena
                            </div>
                        </div>
                        <div class="item">
                            <div class="right floated content">
                                <div class="ui button">Add</div>
                            </div>
                            <div class="content">
                                Lindsay
                            </div>
                        </div>
                        <div class="item">
                            <div class="right floated content">
                                <div class="ui button">Add</div>
                            </div>
                            <div class="content">
                                Mark
                            </div>
                        </div>
                        <div class="item">
                            <div class="right floated content">
                                <div class="ui button">Add</div>
                            </div>
                            <div class="content">
                                Molly
                            </div>
                        </div>
                        <div class="item">
                            <div class="right floated content">
                                <div class="ui button">Add</div>
                            </div>
                            <div class="content">
                                Lena
                            </div>
                        </div>
                        <div class="item">
                            <div class="right floated content">
                                <div class="ui button">Add</div>
                            </div>
                            <div class="content">
                                Lindsay
                            </div>
                        </div>
                        <div class="item">
                            <div class="right floated content">
                                <div class="ui button">Add</div>
                            </div>
                            <div class="content">
                                Mark
                            </div>
                        </div>
                        <div class="item">
                            <div class="right floated content">
                                <div class="ui button">Add</div>
                            </div>
                            <div class="content">
                                Molly
                            </div>
                        </div>
                        <div class="item">
                            <div class="right floated content">
                                <div class="ui button">Add</div>
                            </div>
                            <div class="content">
                                Lena
                            </div>
                        </div>
                        <div class="item">
                            <div class="right floated content">
                                <div class="ui button">Add</div>
                            </div>
                            <div class="content">
                                Lindsay
                            </div>
                        </div>
                        <div class="item">
                            <div class="right floated content">
                                <div class="ui button">Add</div>
                            </div>
                            <div class="content">
                                Mark
                            </div>
                        </div>
                        <div class="item">
                            <div class="right floated content">
                                <div class="ui button">Add</div>
                            </div>
                            <div class="content">
                                Molly
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
