<div id="directive-role-editor" class="view slide">

    <div class="view title ui secondary menu">
        <div class="item">
            编辑角色
        </div>

        <div class="right menu">
            <div class="item label">
                <i class="icon checkmark" ng-click="editRole()"></i>
            </div>
            <div class="item label">
                <i class="icon share" ng-click="closePostEditor()"></i>
            </div>
        </div>
    </div>

    <div class="view content">
        <div class="block">
            <div class="ui form">
                <div class="field">
                    <label>角色名</label>
                    <input type="text" placeholder="" ng-model="role.name">
                </div>
                <!--<div class="field">-->
                    <!--<label>标识符</label>-->
                    <!--<input type="text" placeholder="" ng-model="role.id">-->
                <!--</div>-->
                <div class="field">
                    <label>描述</label>
                    <textarea rows="2" cols="3" ng-model="role.description"></textarea>
                </div>
                <div class="field">
                    <label>分配权限</label>
                    <div class="ui middle aligned divided list" ng-repeat="item in permissions">
                        <p class="ui horizontal divider header">
                            {{ item.name }}
                        </p>
                        <div class="item" ng-repeat="permission in item.permissions">
                            <div class="right floated content">
                                <div class="ui button icon"><i class="plus icon"></i></div>
                            </div>
                            <div class="content">
                                {{ permission.name }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
