<div id="directive-user-detail" class="view slide">

    <div class="view title ui secondary menu">
        <div class="item">
            用户详情
        </div>

        <div class="right menu">
            <div class="item label">
                <i class="icon share" ng-click="closePostEditor()"></i>
            </div>
        </div>
    </div>

    <div class="view content">
        <div class="block">
            <div id="tab" class="ui grid">
                <div class="ui secondary vertical pointing menu">
                    <a class="active item">
                        资料
                    </a>
                    <a class="item">
                        统计
                    </a>
                    <a class="item">
                        日志
                    </a>
                </div>

                <div class="twelve wide stretched column">

                        This is an stretched grid column. This segment will always match the tab height
                </div>
            </div>
        </div>
    </div>

</div>
