#directive-role-editor {
  width: 50%;
}
#directive-role-editor .content.block {
  padding: 20px 40px;
}
#directive-role-editor .ms-container {
  width: 100%;
}
#directive-role-editor .ms-container .ms-list {
  min-height: 300px !important;
  height: auto !important;
}
#directive-role-editor li.ms-optgroup-label {
  color: #131313 !important;
}
#directive-role-editor li.ms-elem-selectable {
  color: #9A9A9A !important;
}
