#page-login {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #DADADA;
  background-image: url(../images/backgrounds/cloud.jpeg);
  background-size: cover;
}
#page-login .mask {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8;
  opacity: 0;
}
#page-login .mask-cover {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 8;
  background: transparent;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.15)), color-stop(30%, transparent), color-stop(70%, transparent), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0, transparent 30%, transparent 60%, rgba(0, 0, 0, 0.4));
}
#page-login #wrapper {
  position: fixed;
  z-index: 10;
  margin: auto;
  top: 0;
  bottom: 180px;
  left: 0;
  right: 0;
}
#page-login #wrapper .ui.teal.header {
  color: #616161 !important;
}
#page-login #wrapper .ui.message a {
  color: #616161;
}
#page-login #wrapper .grid {
  height: 100%;
}
#page-login #wrapper .column {
  max-width: 450px;
  top: -12%;
}
#page-login #wrapper .ui.stacked.segment {
  margin-top: 10px;
}
#page-login #wrapper .ui.message {
  cursor: pointer;
  padding: 10px 10px;
}
#page-login #wrapper .ui.message:hover a {
  color: #c0c0c0;
}
