#page-login {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #DADADA;
  background-image: url(../images/login/mountain.jpeg);
  background-size: cover;
}
#page-login .ui.teal.header {
  color: #616161 !important;
}
#page-login .ui.message a {
  color: #616161;
}
#page-login .grid {
  height: 100%;
}
#page-login .column {
  max-width: 450px;
  top: -12%;
}
#page-login .ui.stacked.segment {
  margin-top: 10px;
}
